@tailwind base;

@layer base {
  html {
    @apply text-neutral-800;
  }
  html.dark,
  body.dark {
    @apply text-neutral-50;
    @apply bg-neutral-700;
  }
}

@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "vazir";
  src: url("./assets//font/Vazir-Regular-FD.woff2");
}

body,
html {
  height: 100%;
  font-family: "vazir", sans-serif;
  background-color: rgb(56, 56, 56);
}
